.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #607D8B;
}


.table-view {
    -fx-background-color: transparent;
    -fx-text-fill: #d3dbf2;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #455A64 ;
    -fx-background-radius: 4px 4px 0px 0px;
    -fx-background-insets: 0 10px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 2 2 10px;
    -fx-text-fill: #d3dbf2;
}

.table-row-cell: odd{
    -fx-background-color: #455A64;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #607D8B;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 3;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #F06292;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #F06292;
}

.label {
    -fx-text-fill: #d3dbf2
}

.button {
    -fx-background-color: #455A64;
    -fx-text-fill: #d3dbf2;
}

.text-field {
    -fx-background-color: #455A64;
    -fx-text-fill: #d3dbf2;
}

